.playing {
  width: 90%;
  margin: 0px 30px 20px 30px;
}

.playing__image-box {
  background-color: #ffb413;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 20%;
}

.playing__title {
  margin-left: 10px;
  float: left;
}

.playing__artist {
  float: right;
}
