.playing {
  width: 90%;
  margin: 0px 30px 20px 30px;
}

.playing__image-box {
  color: white;
  background-color: #ffb413;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 130px;
  height: 130px;
  border: 2px solid black;
  border-radius: 20%;
}

.playing__title {
  float: left;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.playing__artist {
  float: left;
  margin-left: 15px;
  margin-bottom: 20px;
}
