/**Components*/
@import "components/title.css";
@import "components/playing.css";
@import "components/playbar.css";
@import "components/playlist.css";
@import "components/reset.css";

html,
body {
  background-color: #ffffff;
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02bfa3;
}

div {
  width: 100px;
  height: 50px;
  background-color: white;
}

.box {
  width: 97%;
  height: 97%;
}
